# dependencies
node_modules/

# build
dist/

# dotenv
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# editor junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# testing
coverage/
