main {
  display: flex;
  flex-direction: column;
  flex: 1;

  &.app-main {
    flex: 1;
    overflow-y: auto;
    padding-left: $space-xl;

    .page {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow-y: auto;
      padding: $space-xl 0;
      padding-right: $space-xl;
    }
  }
}
