.me.page {
  .me-content {
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    gap: $space-md;

    p {
      margin: 0;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }
}
