header.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: $primary-color;
  padding: $space-md;
  box-sizing: border-box;
  gap: $space-md;
  color: $milk-color;

  .left-part,
  .right-part {
    display: flex;
    align-items: center;
    gap: $space-md;
    margin: 0 $space-lg;
  }

  .left-part {
    .logo {
      font-family: "Orbitron", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: $milk-color;
      font-size: $font-size-large;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
    }

    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $space-md;
    }
  }

  .right-part {
    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;
    }

    .account {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $space-md;
    }
  }
}
