body,
#root {
  font-family: $font-family;
  margin: 0;
  padding: 0;

  color: $body-color;
  font-size: $font-size-base;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $primary-color;
}

.page {
  display: flex;
  flex-direction: column;

  flex: 1;
  height: 100%;

  .half {
    align-self: center;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
  }
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
