body,
#root {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-color;

  color: $body-color;
  font-size: $font-size-base;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $primary-color;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
