$accent-color: #f3c98b;
$primary-color: #493657;
$secondary-color: #eae8ff;
$background-color: hsl(0, 0%, 94%);
$danger-color: #d44d5c;
$success-color: #436436;

$body-color: #111;
$white-color: #fff;
$milk-color: #f8f8f8;

$font-family: "Arial", sans-serif;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-large: 18px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;

$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
